
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 20px;
}
.center {margin-right: auto;margin-left: auto;display: block; }
header h1{
   text-align: center;font-weight: 400;font-style: inherit;
} 
.navbar {
   font-size: large;
    background-color: bisque;
    text-align: center;

}
.top h1{ color: brown;font-size: larger;
    
}
.navbar a {
    padding-left: 20px;
    padding-right: 20px;
    
}
.navbar a:hover{
    background-color: rgb(255, 230, 0);
    cursor: context-menu;
    text-transform: uppercase;
}
footer {
    position: fixed;
    background-color: lavender;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
   
  
}
main{
    text-align: justify;
    font-size: medium;
}
footer a{
    padding-left: 20px;
    padding-right: 20px;
}
    